body {

    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f9f9f9;
    color: #333;
}

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    color: white;
    padding: 15px 40px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.logo{
    font-size: 32px;
}

.navbar a {

    text-decoration: none;
    color: white;
    font-weight: 500;
}

.home-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    /* background: linear-gradient(135deg, #007bff, #00c6ff); */
    background:rgb(45, 151, 164);
    height: 415px;
}

.home-style span {
    color: #391f14;
}

.btn {
    background: white;
    color: #007bff;
    padding: 10px 20px;
    margin-top: 18px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;

}

.about{

    padding: 30px 20px;
    text-align: center;
    background: white;
    margin: 30px auto;

    max-width: 900px;
    border-radius: 10px;
     box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.skills ul{

     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 15px;
     margin-top: 140px;
}
.skills li{

    background: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    list-style: none;
}
.projects h2{
    text-align: center;
    font-weight: 700;
}
.project-card{
background: #f0f0f0;
padding: 20px;
margin: 20px 0;
border-radius: 10px;
}
.project-card a{

    color: #007bff;
    text-decoration: none;
    font-weight: 600;
}
.contact{

    text-align: center;
}
.contact a{
    color: #007bff;
    text-decoration: none;
}
.profile-img{

    width: 150px;
    height: 150px;
    border: 3px solid black;
    border-radius: 50%;
    object-fit: cover;
    
}
.profile-img:hover{
    transform: scale(2.05);
}
.profile-img2{
    width: 120px;
    height: 120px;
    border: 2px solid black;
    border-radius: 50%;
    object-fit: cover;
}
.profile-img2:hover{

    transform: scale(1.4);
}